/AZ_BYD_DCOPerformance - AZE US Bydureon DTC Desktop (Prod) - Aug 18, 2020.csv
/Untitled.ipynb
/VZ_DWK_MonQuarReport_Updated - VZ Global - (verizontelecomglobal) - Jul 2, 2020.csv
/.ipynb_checkpoints/
/venv/
/.idea/
/extracode.txt
